In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
pd?

In [8]:
### Data Structure 1: Series

In [4]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
a = pd.Series(np.arange(10))

In [11]:
print(a * 10)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [15]:
b = pd.Series(np.arange(10), index = ['a','b','c','d','e','f','g','h','i','j'])
print(b)
print(b['f'])

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64
5

In [17]:
mydict = { 'a': 0, 'b': 1, 'c': 2, 'd':3, 'e': 4}
pd.Series(mydict)

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [18]:
## Data Structure 2: DataFrames

In [20]:
df_ser = pd.DataFrame(np.arange(10))
print(df_ser)

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [23]:
random_array = np.random.random((10,10))
df = pd.DataFrame(random_array)
print(df)

          0         1         2         3         4         5         6  \
0  0.832257  0.009545  0.024104  0.570148  0.565632  0.402462  0.084092
1  0.890926  0.477999  0.725224  0.101065  0.771503  0.193580  0.982221
2  0.075282  0.372591  0.905263  0.034934  0.304951  0.978895  0.080883
3  0.522569  0.772711  0.713586  0.760401  0.730532  0.057301  0.912318
4  0.300373  0.613627  0.010804  0.792312  0.676413  0.151111  0.014681
5  0.985472  0.418905  0.578119  0.600935  0.627377  0.256630  0.286660
6  0.712970  0.036722  0.761780  0.571032  0.603304  0.706151  0.784829
7  0.079950  0.613027  0.898483  0.615604  0.859226  0.196003  0.609187
8  0.304682  0.893714  0.108815  0.641147  0.286497  0.428930  0.430769
9  0.940160  0.564388  0.585646  0.126690  0.962676  0.546905  0.700996

          7         8         9
0  0.009294  0.669285  0.606377
1  0.351823  0.438031  0.236521
2  0.920677  0.682296  0.698769
3  0.727965  0.653437  0.340257
4  0.725914  0.091408  0.477888
5  0.298712  0.539540  0.871668
6  0.593297  0.392356  0.861535
7  0.544391  0.108821  0.772150
8  0.433932  0.102780  0.701542
9  0.023631  0.284577  0.404616

In [25]:
colnames = ['Juanito','Banana','Ignacio','Arturo','Leo','Marcos','Fernando','David','Cristian','Eduardo']
df_col = pd.DataFrame(random_array, columns=colnames)
print(df_col)

    Juanito    Banana   Ignacio    Arturo       Leo    Marcos  Fernando  \
0  0.832257  0.009545  0.024104  0.570148  0.565632  0.402462  0.084092
1  0.890926  0.477999  0.725224  0.101065  0.771503  0.193580  0.982221
2  0.075282  0.372591  0.905263  0.034934  0.304951  0.978895  0.080883
3  0.522569  0.772711  0.713586  0.760401  0.730532  0.057301  0.912318
4  0.300373  0.613627  0.010804  0.792312  0.676413  0.151111  0.014681
5  0.985472  0.418905  0.578119  0.600935  0.627377  0.256630  0.286660
6  0.712970  0.036722  0.761780  0.571032  0.603304  0.706151  0.784829
7  0.079950  0.613027  0.898483  0.615604  0.859226  0.196003  0.609187
8  0.304682  0.893714  0.108815  0.641147  0.286497  0.428930  0.430769
9  0.940160  0.564388  0.585646  0.126690  0.962676  0.546905  0.700996

      David  Cristian   Eduardo
0  0.009294  0.669285  0.606377
1  0.351823  0.438031  0.236521
2  0.920677  0.682296  0.698769
3  0.727965  0.653437  0.340257
4  0.725914  0.091408  0.477888
5  0.298712  0.539540  0.871668
6  0.593297  0.392356  0.861535
7  0.544391  0.108821  0.772150
8  0.433932  0.102780  0.701542
9  0.023631  0.284577  0.404616
0    0.009545
1    0.477999
2    0.372591
3    0.772711
4    0.613627
5    0.418905
6    0.036722
7    0.613027
8    0.893714
9    0.564388
Name: Banana, dtype: float64

In [26]:
print(df_col['Banana'])

0    0.009545
1    0.477999
2    0.372591
3    0.772711
4    0.613627
5    0.418905
6    0.036722
7    0.613027
8    0.893714
9    0.564388
Name: Banana, dtype: float64

In [40]:
df_col['Banana'][-5:-1]

5    0.418905
6    0.036722
7    0.613027
8    0.893714
Name: Banana, dtype: float64

In [ ]:
## Converting other structures to DataFrames

In [41]:
mylist = [4,5,6,7,8]
pd.DataFrame(mylist,columns = ["MyColumn"])

   MyColumn
0         4
1         5
2         6
3         7
4         8

In [45]:
mydict = {"Breed": ["Cat", "Dog", "GuineaPig"], "Name":["Meowy", "Bello", "Carmen"]}
pd.DataFrame.from_dict(mydict,orient='index')

           0      1          2
Breed    Cat    Dog  GuineaPig
Name   Meowy  Bello     Carmen

In [50]:
print(df_col['Juanito'].mean())
print(df_col.mean(axis=0))

0.5644641128886656
Juanito     0.564464
Banana      0.477323
Ignacio     0.531182
Arturo      0.481427
Leo         0.638811
Marcos      0.391797
Fernando    0.488664
David       0.462963
Cristian    0.396253
Eduardo     0.597132
dtype: float64

In [54]:
df_col['Manuel'] = 'kein nummer'

In [55]:
df_col

,Juanito,Banana,Ignacio,Arturo,Leo,Marcos,Fernando,David,Cristian,Eduardo,Manuel
0,0.832257,0.009545,0.024104,0.570148,0.565632,0.402462,0.084092,0.009294,0.669285,0.606377,kein nummer
1,0.890926,0.477999,0.725224,0.101065,0.771503,0.193580,0.982221,0.351823,0.438031,0.236521,kein nummer
2,0.075282,0.372591,0.905263,0.034934,0.304951,0.978895,0.080883,0.920677,0.682296,0.698769,kein nummer
3,0.522569,0.772711,0.713586,0.760401,0.730532,0.057301,0.912318,0.727965,0.653437,0.340257,kein nummer
4,0.300373,0.613627,0.010804,0.792312,0.676413,0.151111,0.014681,0.725914,0.091408,0.477888,kein nummer
5,0.985472,0.418905,0.578119,0.600935,0.627377,0.256630,0.286660,0.298712,0.539540,0.871668,kein nummer
6,0.712970,0.036722,0.761780,0.571032,0.603304,0.706151,0.784829,0.593297,0.392356,0.861535,kein nummer
7,0.079950,0.613027,0.898483,0.615604,0.859226,0.196003,0.609187,0.544391,0.108821,0.772150,kein nummer
8,0.304682,0.893714,0.108815,0.641147,0.286497,0.428930,0.430769,0.433932,0.102780,0.701542,kein nummer
9,0.940160,0.564388,0.585646,0.126690,0.962676,0.546905,0.700996,0.023631,0.284577,0.404616,kein nummer

In [56]:
df_col['Javier'] = [True,False,True,False,False,True,False,True,True,False]

In [57]:
df_col.mean()

Juanito     0.564464
Banana      0.477323
Ignacio     0.531182
Arturo      0.481427
Leo         0.638811
Marcos      0.391797
Fernando    0.488664
David       0.462963
Cristian    0.396253
Eduardo     0.597132
Javier      0.500000
dtype: float64